div{
	width: 800px;
	margin: 0 auto;
}
div.img_hover img{
	border: 5px solid #aaa;
	width: 300px;
	margin: 20px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2); /* Permet de créer un ombrage*/
	transition: 0.5s;
}
div.img_hover img:hover{
	transform: rotate(-7deg);
	width: 250px;
}
div.img_hover img.rotation:hover{
	transform: rotate(360deg);
}
